.footer {
    background-color:black;
    color: #fff;
    width: 100%;
    
    text-align: center;
    font-family: Arial, sans-serif;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 148px;
   
}

.footer-logo img {
    height: 110px;
    width: 300px;
    margin-right: 10px;
    filter: invert(1);
}

.footer-section {
    margin-bottom: 22px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.footer-section ul {
    list-style-type: none;

    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
    
}

.footer-section ul li a {
    color: #b6c3b4;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section address {
    font-style: normal;
    line-height: 1.5;
    color: #b6c3b4;
    margin-bottom: 10px;
}
.mail{
    color: #b6c3b4;
}

.footer-section .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;

}

.footer-section .social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}
.info{
    color: white;
}
.footer-bottom {
    border-top: 1px solid #333;
    padding-top: 10px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}

.hr {
    flex: 1; /* Fill remaining space horizontally */
    height: 1px; /* Set height of hr */
    background-color: #4b3b3bb4; /* Light grey color */
    border: none; /* Remove default border */
    margin: 0 300px; 
  }